/SQL/nbproject/private/
/SQL/build/
/MCV/nbproject/private/
/MCV/build/
/CRUD_MVC/nbproject/private/
/CRUD_MVC/build/
/Tabla/nbproject/private/
/Tabla/build/
/Usuarios/nbproject/private/
/Usuarios/build/